
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="/dashboard"><img class="main-logo" src="/image/gyapu.png" alt="" /></a>
                <strong><img src="/img/logo/logosn.png" alt="" /></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                        <li class="active">
                            <a class="has-arrow" href="index.html">
								   <i class="fa big-icon fa-home icon-wrap"></i>
								   <span class="mini-click-non">Product</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="Product List" href="/product"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Product List</span></a></li>
                                <li><a title="Product Edit" href="/product/add"><i class="fa fa-bolt sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Product Add</span></a></li>
                            </ul>
                        </li>
                        
                          <li class="active">
                            <a class="has-arrow" href="index.html">
								   <i class="fa big-icon fa-home icon-wrap"></i>
								   <span class="mini-click-non">Staffs</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="Product List" href="/staff/list"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Staff List</span></a></li>
                                <li><a title="Staff Add" href="/staff/add"><i class="fa fa-bolt sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Staff Add</span></a></li>
                            </ul>
                        </li>

                        <li class="active">
                            <a class="has-arrow" href="index.html">
								   <i class="fa big-icon fa-home icon-wrap"></i>
								   <span class="mini-click-non">Branches</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="Product List" href="/branch/list"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Branch List</span></a></li>
                                <li><a title="Branch Add" href="/branch/add"><i class="fa fa-bolt sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Branch Add</span></a></li>
                            </ul>
                        </li>

                        <li class="active">
                            <a class="has-arrow" href="index.html">
								   <i class="fa big-icon fa-home icon-wrap"></i>
								   <span class="mini-click-non">Shipments</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="Shipment List" href="/shipment"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Shipment List</span></a></li>
                                <li><a title="Shipment Add" href="/shipment/add"><i class="fa fa-bolt sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Shipment Add</span></a></li>

                            </ul>
                        </li>
                        
                    </ul>
                </nav>
            </div> 
                </nav>
            </div>
        </nav>
    </div>